//Lejuene folder structure for NC1
Lejeune_AnglesFolder=ANGLES
Lejeune_ChannelsFolder=CHANNELS
Lejeune_HSSFolder=HSS
Lejeune_PlateFolder=PLATE
Lejeune_WideFlangeFolder=BEAMS
Lejeune_MMarkFolder=M MARKS

//Lejuene Plate sorter location
PerlPath=C:\strawberry\perl\bin\perl.exe
PlateSorterPath=T:\ncconvert\platesort.pl
